section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            div.dot
            span Строительство дорог

        div.links
            a(href="about.html") О компании
            a(href="construction.html").opened Строительство дорог
            a(href="rent.html") Аренда спецтехники

        div.description
            h1 Строительство дорог
            div.text
                span Проектирование и строительство дорог в Москве и Московской области — ключевое направление деятельности компании «Проспект-НТМ». Мы осуществляем строительство автомобильных дорог федерального и муниципального значения с нулевого цикла и выполняем комплекс технологических, инфраструктурных и управленческих процессов. Являемся лидером в данной отрасли и зарекомендовали себя как надёжный, добропорядочный партнёр с высокими стандартами работы.
                div.buttons
                    a(href="images/image.webp", download).button.yellow Скачать прайс
                    a(href="index.html").button.border Посмотреть все услуги