section.about
    div.container
        div.description
            h2.underline о компании
            img(src="images/webp/6.webp", alt="")
            div.text
                p АБЗ Одинцово — один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России, лидер Северо-Западного региона, старейшее предприятие Группы компаний «АБЗ-1», ведущее историю с 1932 года.
                a(href="article.html").button.yellow
                    span Читать больше

        ul.advantages
            li
                img(src="images/about_1.svg", alt="")
                span Индивидуальный подход #[br]к каждому клиенту
            li
                img(src="images/about_2.svg", alt="")
                span Собственный #[br]автопарк
            li
                img(src="images/about_3.svg", alt="")
                span Непрерывное #[br]производство
            li
                img(src="images/about_4.svg", alt="")
                span Более 1 500 000 тонн #[br]асфальтобетона в год