section.main
    div.container

        div.swiper.texts
            div.swiper-wrapper
                div.swiper-slide
                    h1 1Производство асфальтобетонных смесей в России
                    span 1Один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России, лидер Северо-Западного региона, старейшее предприятие Группы компаний «АБЗ-1», ведущее историю с 1932 года.
                div.swiper-slide
                    h1 2Производство асфальтобетонных смесей в России
                    span 2Один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России, лидер Северо-Западного региона, старейшее предприятие Группы компаний «АБЗ-1», ведущее историю с 1932 года.
                div.swiper-slide
                    h1 3Производство асфальтобетонных смесей в России
                    span 3Один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России, лидер Северо-Западного региона, старейшее предприятие Группы компаний «АБЗ-1», ведущее историю с 1932 года.
                div.swiper-slide
                    h1 4Производство асфальтобетонных смесей в России
                    span 4Один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России, лидер Северо-Западного региона, старейшее предприятие Группы компаний «АБЗ-1», ведущее историю с 1932 года.

        div.swiper-counter
        div.swiper-pagination
        div.mouse: img(src="images/mouse.svg", alt="")

    div.swiper.images
        div.swiper-wrapper
            div.swiper-slide: img(src="images/image.webp", alt="")
            div.swiper-slide: img(src="images/image.webp", alt="")
            div.swiper-slide: img(src="images/image.webp", alt="")
            div.swiper-slide: img(src="images/image.webp", alt="")