mixin object(image, date, title)
    div.swiper-slide
        a(data-modal-target="object").object
            img(src=image, alt="")
            div.description
                span.date= date
                h3= title
                strong Вид работ: Один из крупнейших поставщиков
                p Один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России.

section.objects
    div.container
        div.text
            h2.underline Объекты
            p Один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России.

        a(href="objects.html").button.border.desktop смотреть все объекты

    div.slider
        div.swiper
            div.swiper-wrapper
                +object('images/webp/15.webp', 'июнь-июль 2023', 'Горячие асфальтобетонные смеси')
                +object('images/webp/16.webp', 'июнь-июль 2023', 'Горячие асфальтобетонные смеси')
                +object('images/webp/17.webp', 'июнь-июль 2023', 'Горячие асфальтобетонные смеси')
                +object('images/webp/18.webp', 'июнь-июль 2023', 'Горячие асфальтобетонные смеси')
                +object('images/webp/15.webp', 'июнь-июль 2023', 'Горячие асфальтобетонные смеси')
                +object('images/webp/16.webp', 'июнь-июль 2023', 'Горячие асфальтобетонные смеси')
                +object('images/webp/17.webp', 'июнь-июль 2023', 'Горячие асфальтобетонные смеси')
                +object('images/webp/18.webp', 'июнь-июль 2023', 'Горячие асфальтобетонные смеси')

    a.button.border.mobile смотреть все объекты
