mixin product(image, title)
    a(data-modal-target="product").product
        img(src=image, alt="")
        h3 !{title}

section.products
    div.container
        div.text
            h2.underline Продукция
            p Один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России.
        a(href="catalog.html").button.border смотреть все категории

        div.list
            +product('images/webp/7.webp', 'Горячие асфальтобетонные смеси')
            +product('images/webp/8.webp', 'Литые асфальтобетонные смеси')
            +product('images/webp/9.webp', 'Щебёночно-мастичные <br/>асфальтобетонные смеси')
            +product('images/webp/10.webp', 'Битумное вяжущее')
            +product('images/webp/11.webp', 'Горячие асфальтобетонные смеси')
            +product('images/webp/12.webp', 'Литые асфальтобетонные смеси')
            +product('images/webp/13.webp', 'Щебёночно-мастичные <br/>асфальтобетонные смеси')
            +product('images/webp/14.webp', 'Битумное вяжущее')