mixin product(image, title, price)
    div.product
        div.main
            img(src=image, alt=title).image
            h3= title
            div.price
                strong= price
                span за 1 тонну
            div.order
                button(data-modal-target="proposal").yellow Оставить заявку
                div(onclick="openProduct(this)").more: img(src="images/more.svg", alt="")
        div.additional
            div.wrap
                div.note
                    span Смесь асфальтобетонная горячая песчаная плотная тип Д марка II создаётся по стандарту ГОСТ 9128–2013
                div.usage
                    strong Применение:
                    img(src="images/certificate.webp", alt="")
                    div.text
                        span Данный состав широко применяется при создании детских и спортивных площадок со средним уровнем нагрузки. Смесь оптимально подходит для формирования пешеходных аллей, тротуаров и зон отдыха в парках. Поскольку состав очень эластичный, с его помощью легко заполнить выбоины и формы. Поэтому одна из сфер его применения — ремонт «заплатками». Устойчивость к воздействию бактерий и грибков даже в условиях повышенной влажности способствует активному использованию смеси для отделки территорий лечебных и образовательных учреждений. Благодаря отсутствию щебня смесь получилась лёгкой и её вес ниже большинства стандартных асфальтобетонных смесей, что в свою очередь снижает нагрузку на различные конструкции.
                    button.yellow Оставить заявку


section.products
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            div.dot
            span Продукция

        h1 Продукция

        div.tags
            div.overflow
                div.tag.opened Все смеси
                div.tag Крупнозернистые смеси
                div.tag Мелкозернистые смеси
                div.tag Песчанка
                div.tag ЩМА
                div.tag Старый ГОСТ 9128–2013 / ГОСТ 31015–2002
                div.tag Новый ГОСТ Р 58406.1–2020 / ГОСТ Р 58406.2–2020
                div.tag Евроасфальт
                
        div.products
            +product('images/webp/7.webp', 'Смесь асфальтобетонная горячая песчаная плотная тип Д марка II', '4 100 ₽')
            +product('images/webp/8.webp', 'Смесь асфальтобетонная горячая песчаная плотная тип Д марка II', '4 100 ₽')
            +product('images/webp/9.webp', 'Смесь асфальтобетонная горячая песчаная плотная тип Д марка II', '4 100 ₽')
            +product('images/webp/10.webp', 'Смесь асфальтобетонная горячая песчаная плотная тип Д марка II', '4 100 ₽')
            +product('images/webp/11.webp', 'Смесь асфальтобетонная горячая песчаная плотная тип Д марка II', '4 100 ₽')
            +product('images/webp/12.webp', 'Смесь асфальтобетонная горячая песчаная плотная тип Д марка II', '4 100 ₽')
            +product('images/webp/13.webp', 'Смесь асфальтобетонная горячая песчаная плотная тип Д марка II', '4 100 ₽')
            +product('images/webp/14.webp', 'Смесь асфальтобетонная горячая песчаная плотная тип Д марка II', '4 100 ₽')
            +product('images/webp/7.webp', 'Смесь асфальтобетонная горячая песчаная плотная тип Д марка II', '4 100 ₽')
            +product('images/webp/8.webp', 'Смесь асфальтобетонная горячая песчаная плотная тип Д марка II', '4 100 ₽')

        include ../_pagination.pug
