dialog[data-modal-name=product]
    width: 100%
    height: 100%
    max-width: unset
    max-height: unset
    background: transparent
    display: grid
    align-items: center
    justify-items: end
    +screen(m)
        font-size: 12px

    div.cross
        position: absolute

    div.container
        display: grid
        align-content: start
        background: $white
        padding: 50px
        padding-top: 80px
        max-width: 1000px
        height: 100%
        +screen(m)
            padding: 20px
            padding-top: 54px

    div.product

        div.main
            display: grid
            align-items: start
            grid-template-areas: 'Image Title' 'Image Price'
            grid-template-columns: max-content 1fr
            grid-gap: 18px 26px
            +screen(m)
                align-items: end
                grid-template-areas: 'Image Price' 'Title Title'
                gap: 10px

            img.image
                grid-area: Image
                aspect-ratio: 1 / 1
                width: 114px
                object-fit: cover
                object-position: center center
                +screen(xl)
                    width: 90px
                +screen(m)
                    width: 66px

            h3
                grid-area: Title
                max-width: 310px

            div.price
                grid-area: Price
                display: grid
                strong
                    font-family: "Cormorant", serif
                    font-weight: 700
                    font-size: 36px
                    text-transform: uppercase
                    +screen(m)
                        font-size: 22px
                span
                    font-weight: 400
                    font-size: 14px
                    line-height: 130%
                    opacity: 0.5

        div.additional

            div.wrap
                margin-top: 30px
                border-top: unset
                +screen(m)
                    margin-top: 10px

            div.note
                padding: 17px 0
                border-top: 1px solid rgba(29, 29, 27, 0.2)
                border-bottom: 1px solid rgba(29, 29, 27, 0.2)
                font-weight: 400
                font-size: 14px
                line-height: 130%
                +screen(m)
                    font-size: 12px
                    line-height: 120%
                    letter-spacing: -0.01em
                    padding: 10px 0

            div.usage
                margin-top: 17px
                display: grid
                grid-template-columns: max-content 1fr
                grid-template-areas: 'Title Title' 'Image Text' 'Image Button'
                grid-gap: 0 26px
                +screen(m)
                    grid-template-areas: 'Title' 'Image' 'Text' 'Button'
                    grid-template-columns: 1fr
                    margin-top: 20px

                strong
                    grid-area: Title
                    margin-bottom: 16px
                    font-weight: 600
                    font-size: 14px
                    line-height: 130%
                    +screen(m)
                        font-size: 12px
                        margin-bottom: 10px

                img
                    grid-area: Image
                    width: 114px
                    +screen(m)
                        width: 59px
                        margin-bottom: 10px


                div.text
                    grid-area: Text
                    line-height: 20%
                    span
                        font-weight: 400
                        font-size: 16px
                        line-height: 130%
                        opacity: 0.7
                        +screen(m)
                            font-size: 12px
                            line-height: 120%

                button
                    grid-area: Button
                    margin-top: 24px
                    justify-self: start
                    +screen(m)
                        margin-top: 20px