section.vacancy
    div.container
        div.job
            div.text
                h2.underline Перевозчикам
                span Мы, как компания — производитель, которая дорожит своей репутацией, заинтересованы в добросовестных перевозчиках наших смесей от завода до объектов Заказчика. Мы всегда рады взаимовыгодному сотрудничеству и открыты для интересных предложений!
                button.yellow Откликнуться
            img(src="images/image.webp", alt="")