section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            div.dot
            span Аренда спецтехники

        div.about_links
            a(href="about.html") О компании
            a(href="construction.html") Строительство дорог
            a(href="rent.html").opened Аренда спецтехники

        div.description
            h1 Аренда спецтехники
            div.text
                span Предлагаем строительную и дорожную спецтехнику в Москве и Московской области на любой срок. Аренда спецтехники — это удобный и экономически выгодный способ обеспечить себе необходимое оборудование для строительных, дорожных или других видов работ. Благодаря аренде вы можете получить доступ к широкому выбору техники без необходимости приобретения и обслуживания собственного парка машин.
                div.buttons
                    a(href="images/image.webp", download).button.yellow
                        span Скачать прайс
                    a(href="index.html").button.border Посмотреть всю спецтехнику