mixin product(image, title)
    div.product
        img(src=image, alt="")
        h3= title

section.products
    div.container

        h2.underline Наш парк спецтехники

        div.list
            +product('images/webp/42.webp', 'Асфальтоукладчики  JCB JS160W')
            +product('images/webp/43.webp', 'Автогрейдеры')
            +product('images/webp/44.webp', 'Бульдозеры')
            +product('images/webp/45.webp', 'Экскаватор на гусеничном ходу Volvo EC 250 DL')
            +product('images/webp/46.webp', 'Дорожные катки')
            +product('images/webp/47.webp', 'Экскаваторы-погрузчики')
            +product('images/webp/48.webp', 'Эвакуаторы')
            +product('images/webp/49.webp', 'Фронтальные погрузчики')
            +product('images/webp/42.webp', 'Грунтовые катки')
            +product('images/webp/43.webp', 'Гусеничные экскаваторы')
            +product('images/webp/44.webp', 'Малотоннажные грузовики')
            +product('images/webp/45.webp', 'Мини-погрузчики')
            +product('images/webp/46.webp', 'Поливомоечные машины')
            +product('images/webp/47.webp', 'Самосвалы')
            +product('images/webp/48.webp', 'Трактора')
            +product('images/webp/49.webp', 'Тралы')
      
        include ../_pagination.pug