section.advantages
    div.container

        div.masonry

            div.column
                div.text
                    h2.underline АБЗ Одинцово
                    p Один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России.
                div.item
                    img(src="images/advantage_1.svg", alt="")
                    span 5 собственных асфальтобетонных заводов
                div.item
                    img(src="images/advantage_1.svg", alt="")
                    span 5 собственных асфальтобетонных заводов

            div.column
                div.image
                    img(src="images/webp/2.webp", alt="")
                div.item
                    img(src="images/advantage_1.svg", alt="")
                    span 5 собственных асфальтобетонных заводов
                div.image
                    img(src="images/webp/5.webp", alt="")

            div.column
                div.item
                    img(src="images/advantage_1.svg", alt="")
                    span 5 собственных асфальтобетонных заводов
                div.item
                    img(src="images/advantage_1.svg", alt="")
                    span 5 собственных асфальтобетонных заводов
                div.image
                    img(src="images/webp/4.webp", alt="")

            div.column
                div.image
                    img(src="images/webp/3.webp", alt="")
                div.item
                    img(src="images/advantage_1.svg", alt="")
                    span 5 собственных асфальтобетонных заводов
                div.item
                    img(src="images/advantage_1.svg", alt="")
                    span 5 собственных асфальтобетонных заводов
        