section.clients
    div.container
        div.text
            h2.underline нам доверяют
            p Один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России.
        include _swiper-navigation.pug

    div.slider
        div.swiper
            div.swiper-wrapper
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")
                div.swiper-slide: img(src="images/client.svg", alt="")