mixin document(image)
    div.swiper-slide
        a(href=image, target="blank"): img(src=image, alt="")

section.documents
    div.container
        h2.underline Документация
        include _swiper-navigation.pug

    div.slider
        div.swiper
            div.swiper-wrapper
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')
                +document('images/webp/certificate.webp')