div.pagination
    div.pages
        a(href="?page=1").active 1
        a(href="?page=2") 2
        a(href="?page=2").arrow
            include ../../images/pagination-arrow.svg
    button.border Показать ещё