extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/about.css")

block content
    include sections/about/_main.pug
    include sections/_advantages.pug
    include sections/about/_team.pug
    include sections/about/_history.pug
    include sections/_clients.pug
    include sections/_callback.pug