extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/construction.css")

block content
    include sections/construction/_main.pug
    include sections/construction/_advantages.pug
    include sections/_callback.pug