extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/contacts.css")

block content
    include sections/contacts/_contacts.pug
    include sections/contacts/_requisites.pug
    include sections/contacts/_production.pug
    include sections/_callback.pug