extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/index.css")

block content
    include sections/index/_main.pug
    include sections/_advantages.pug
    include sections/index/_about.pug
    include sections/index/_products.pug
    include sections/index/_objects.pug
    include sections/_clients.pug
    include sections/_callback.pug

    script.
        header = document.querySelector('header')
        header.classList.add('transparent')

        window.addEventListener('scroll', event => {
            this.scrollY > 0 ? header.classList.remove("transparent") : header.classList.add("transparent")
        })