extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/objects.css")

block content
    include sections/objects/_main.pug
    include sections/objects/_objects.pug
    include sections/_clients.pug
    include sections/_callback.pug