extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/pages.css")

block content
    section.pages
        div.container
            div.list
                a(href="index.html").button.border Главная
                a(href="catalog.html").button.border Продукция
                a(href="contacts.html").button.border Контакты
                a(href="delivery.html").button.border Доставка
                a(href="laboratory.html").button.border Лаборатория
                a(href="objects.html").button.border Объекты
                a(href="about.html").button.border О компании
                a(href="construction.html").button.border Строительство дорог
                a(href="rent.html").button.border Аренда спецтехники
                a(href="404.html").button.border 404