extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/rent.css")

block content
    include sections/rent/_main.pug
    include sections/rent/_products.pug
    include sections/_callback.pug