section.contacts
    div.container

        script(defer, src="scripts/map.js")
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru-RU", type="text/javascript")

        div.breadcrumbs
            a(href="index.html") Главная
            div.dot
            span Контакты

        h1 Контакты

        div.departments
            div.office
                h3 Офис
                div.contacts
                    div.adress
                        div.icon
                            include ../../../images/home.svg
                        span г. Москва, Академика Сахарова 23
                    div.phones
                        div.icon
                            include ../../../images/phone.svg
                        a(href="tel:+7 812 777-89-84") +7 812 777-89-84
                    div.email
                        div.icon
                            include ../../../images/email.svg
                        a(href="mailto:info@abz.ru") info@abz.ru
                img(src="images/image.webp", alt="").preview
            div.department
                div.text
                    h3 Отдел продаж
                    span Приём заявок, консультация, сопровождение новых и существующих клиентов, документооборот
                div.contacts
                    div.phones
                        div.icon: img(src="images/phone.svg", alt="")
                        div.list
                            a(href="tel:+7 812 777-89-84") +7 812 777-89-84
                            a(href="tel:+7 812 777-89-84") +7 812 777-89-84
                    div.email
                        div.icon: img(src="images/email.svg", alt="")
                        a(href="mailto:sales@abz.ru") sales@abz.ru
            div.department
                div.text
                    h3 Диспетчерская
                    span Размещение заказов и вопросы о состоянии отгрузок для существующих клиентов
                div.contacts
                    div.phones
                        div.icon: img(src="images/phone.svg", alt="")
                        div.list
                            a(href="tel:+7 812 777-89-84") +7 812 777-89-84
                            a(href="tel:+7 812 777-89-84") +7 812 777-89-84
                    div.email
                        div.icon: img(src="images/email.svg", alt="")
                        a(href="mailto:dis@abz.ru") dis@abz.ru
            div.department
                div.text
                    h3 Отдел снабжения
                div.contacts
                    div.phones
                        div.icon: img(src="images/phone.svg", alt="")
                        div.list
                            a(href="tel:+7 812 777-89-84") +7 812 777-89-84
                    div.email
                        div.icon: img(src="images/email.svg", alt="")
                        a(href="mailto:info@abz.ru") info@abz.ru
            div.department
                div.text
                    h3 Бухгалтерия
                    span Приём заявок, консультация, сопровождение новых и существующих клиентов, документооборот
                div.contacts
                    div.phones
                        div.icon: img(src="images/phone.svg", alt="")
                        div.list
                            a(href="tel:+7 812 777-89-84") +7 812 777-89-84
                    div.email
                        div.icon: img(src="images/email.svg", alt="")
                        a(href="mailto:buch@abz.ru") buch@abz.ru
            div.department
                div.text
                    h3 Лаборатория
                    span Приём заявок, консультация, сопровождение новых и существующих клиентов, документооборот
                div.contacts
                    div.phones
                        div.icon: img(src="images/phone.svg", alt="")
                        div.list
                            a(href="tel:+7 812 777-89-84") +7 812 777-89-84
                            a(href="tel:+7 812 777-89-84") +7 812 777-89-84
                    div.email
                        div.icon: img(src="images/email.svg", alt="")
                        a(href="mailto:sales@abz.ru") sales@abz.ru
            div.department
                div.text
                    h3 По вопросам перевозки
                    span Размещение заказов и вопросы о состоянии отгрузок для существующих клиентов
                div.contacts
                    div.phones
                        div.icon: img(src="images/phone.svg", alt="")
                        div.list
                            a(href="tel:+7 812 777-89-84") +7 812 777-89-84
                            a(href="tel:+7 812 777-89-84") +7 812 777-89-84
                    div.email
                        div.icon: img(src="images/email.svg", alt="")
                        a(href="mailto:dis@abz.ru") dis@abz.ru

        div#map1




