section.production
    div.container
        h2.underline Производство

        div#map2

        div.list
            div.item
                img(src="images/webp/20.webp", alt="")
                h2.underline Перевозчикам
                span Мы, как компания — производитель, которая дорожит своей репутацией, заинтересованы в добросовестных перевозчиках наших смесей от завода до объектов Заказчика. Мы всегда рады взаимовыгодному сотрудничеству и открыты для интересных предложений!
                button.yellow
                    span Откликнуться
            div.item
                img(src="images/webp/21.webp", alt="")
                h2.underline Поставщикам
                span Мы, как компания — производитель, которая дорожит своей репутацией, заинтересованы в добросовестных перевозчиках наших смесей от завода до объектов Заказчика. Мы всегда рады взаимовыгодному сотрудничеству и открыты для интересных предложений!
                button.yellow
                    span Откликнуться