section.requisite
    div.container

        h2.underline реквизиты

        div.list
            div.item
                span.name Полное наименование
                span Общество с ограниченной #[br]ответственностью «АБЗ „Одинцово“»
            div.item
                span.name Юридический адрес
                span 143006, Московская область, г Одинцово, #[br]Транспортная ул, д. 6б стр. 1
            div.item
                span.name Фактический адрес
                span 143006, Московская область, г Одинцово, #[br]Транспортная ул, д. 6б стр. 1
            div.item
                span.name ОГРН
                span 1245000025160
            div.item
                span.name ИНН/КПП
                span 5032376238/503201001