section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            div.dot
            span Объекты

        h1 Объекты

        div.swiper.texts
            div.swiper-wrapper
                div.swiper-slide
                    h1 1Набережная Макарова
                    span 1Один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России, лидер Северо-Западного региона, старейшее предприятие Группы компаний «АБЗ-1», ведущее историю с 1932 года.
                div.swiper-slide
                    h1 2Набережная Макарова
                    span 2Один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России, лидер Северо-Западного региона, старейшее предприятие Группы компаний «АБЗ-1», ведущее историю с 1932 года.
                div.swiper-slide
                    h1 3Набережная Макарова
                    span 3Один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России, лидер Северо-Западного региона, старейшее предприятие Группы компаний «АБЗ-1», ведущее историю с 1932 года.
                div.swiper-slide
                    h1 4Набережная Макарова
                    span 4Один из крупнейших поставщиков высококачественных асфальтобетонных смесей в России, лидер Северо-Западного региона, старейшее предприятие Группы компаний «АБЗ-1», ведущее историю с 1932 года.

        div.swiper-counter
        div.swiper-pagination

    div.swiper.images
        div.swiper-wrapper
            div.swiper-slide: img(src="images/image.webp", alt="")
            div.swiper-slide: img(src="images/image.webp", alt="")
            div.swiper-slide: img(src="images/image.webp", alt="")
            div.swiper-slide: img(src="images/image.webp", alt="")