dialog(data-modal-name="object")

    div.container

        div(data-modal-close).cross
            include ../../../images/cross.svg

        div.slider
            div.swiper
                div.swiper-wrapper
                    div.swiper-slide: img(src="images/webp/15.webp", alt="")
                    div.swiper-slide: img(src="images/webp/16.webp", alt="")
                    div.swiper-slide: img(src="images/webp/17.webp", alt="")
                    div.swiper-slide: img(src="images/webp/18.webp", alt="")
            include ../_swiper-navigation.pug

        h2 Реконструкция ул. Крисанова в Перми

        div.params
            div.param
                span Год
                div
                span 2023
            div.param
                span Объект
                div
                span улица Кирсанова, город Пермь
            div.param
                span Период реализации
                div
                span май-июнь
            div.param
                span Виды работ
                div
                span реконструкция улицы
            div.param
                span Площадь покрытия
                div
                span 1000 м2

        div.about
            strong О проекте
            span Проект «Строительство автомобильной дороги по ул. Крисанова от шоссе Космонавтов до ул. Пушкина» состоит из двух этапов. В рамках рассматриваемого I этапа контрактом предусмотрено обустройство пересечения улиц Крисанова с шоссе Космонавтов в двух уровнях со строительством четырехполосного путепровода в створе ш. Космонавтов и возведение подпорных стен на подходах к нему, а также переустройство коммуникаций, попадающих в зону застройки. Будут установлены новое освещение и шумозащитные экраны, проложены тротуары, велодорожки и подъезды к развязке, осуществлено благоустройство территории.