dialog(data-modal-name="product")

    div.container

        div(data-modal-close).cross
            include ../../../images/cross.svg

        div.product
            div.main
                img(src='images/webp/7.webp', alt='Смесь асфальтобетонная горячая песчаная плотная тип Д марка II').image
                h3 Смесь асфальтобетонная горячая песчаная плотная тип Д марка II
                div.price
                    strong 4 100 ₽
                    span за 1 тонну
            div.additional
                div.wrap
                    div.note
                        span Смесь асфальтобетонная горячая песчаная плотная тип Д марка II создаётся по стандарту ГОСТ 9128–2013
                    div.usage
                        strong Применение:
                        img(src="images/certificate.webp", alt="")
                        div.text
                            span Данный состав широко применяется при создании детских и спортивных площадок со средним уровнем нагрузки. Смесь оптимально подходит для формирования пешеходных аллей, тротуаров и зон отдыха в парках. Поскольку состав очень эластичный, с его помощью легко заполнить выбоины и формы. Поэтому одна из сфер его применения — ремонт «заплатками». Устойчивость к воздействию бактерий и грибков даже в условиях повышенной влажности способствует активному использованию смеси для отделки территорий лечебных и образовательных учреждений. Благодаря отсутствию щебня смесь получилась лёгкой и её вес ниже большинства стандартных асфальтобетонных смесей, что в свою очередь снижает нагрузку на различные конструкции.
                        button(onclick="createDialog('proposal')").yellow Оставить заявку