dialog(data-modal-name="success")

    div.container

        div(data-modal-close).cross
            include ../../../images/cross.svg

        img(src="images/success.webp", alt="")
        h2 Заявка успешно оправлена!
        span Мы свяжемся с вами в ближайшее время
        a(href="index.html").button.yellow на главную