section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            div.dot
            span Лаборатория

        h1 Лаборатория

        div.about
            img(src="images/webp/22.webp", alt="")
            div.text
                h2.underline Испытания дорожно-строительных материалов
                span Компания «АБЗ Линт» предлагает лабораторные услуги, связанные с контролем качества дорожно-строительных материалов и работ. Специалисты проведут испытания асфальтобетонных смесей и других материалов на современном оборудовании. Наша дорожно-строительная лаборатория аттестована ФГУ «Менделеевский центр стандартизации, метрологии и сертификации». Благодаря её услугам, стоимость которых отражена в прайс-листе, заказчики могут осуществлять строительство дорог высокого качества.Наши специалисты готовы выполнить лабораторные испытания образцов, определить основные физико-механические показатели, а также показатели сдвигоустойчивости и трещиностойкости. Кроме того, способны провести испытания пробы щебня и песка, оказать другие услуги. Дорожно-строительная лаборатория предлагает выезд специалистов на место, проведение работ на объекте и в помещениях компании «АБЗ Линт». Все лабораторные исследования проводятся на высокоточном оборудовании квалифицированными сотрудниками, имеющими специализированное образование. Персонал лаборатории имеет большой опыт работы в области исследования дорожно-строительных материалов.