section.history
    div.container
        h2.underline История

        div.description
            strong Компания «АБЗ Линт» предлагает лабораторные услуги, связанные с контролем качества дорожно-строительных материалов и работ.
            span Компания «АБЗ Линт» предлагает лабораторные услуги, связанные с контролем качества дорожно-строительных материалов и работ. Специалисты проведут испытания асфальтобетонных смесей и других материалов на современном оборудовании. Компания «АБЗ Линт» предлагает лабораторные услуги, связанные с контролем качества дорожно-строительных материалов и работ.

        img(src="images/image.webp", alt="").preview

        div.tabs
            div.tabs_captions
                div.tab_caption.opened 2009
                div.tab_caption 2010
                div.tab_caption 2011
                div.tab_caption 2012
                div.tab_caption 2013
                div.tab_caption 2014
                div.tab_caption 2015
                div.tab_caption 2016
                div.tab_caption 2017
            div.tabs_contents
                div.tab_content.opened
                    div.year 2009.
                    span 2009. Компания «АБЗ Линт» предлагает лабораторные услуги, связанные с контролем качества дорожно-строительных материалов и работ. Специалисты проведут испытания асфальтобетонных смесей и других материалов на современном оборудовании. Компания «АБЗ Линт» предлагает лабораторные услуги, связанные с контролем качества дорожно-строительных материалов и работ. 
                    img(src="images/history.webp", alt="")
                -for( x = 0; x < 8; x++ )
                    div.tab_content
                        div.year 201!{x}.
                        span 201!{x}. - Компания «АБЗ Линт» предлагает лабораторные услуги, связанные с контролем качества дорожно-строительных материалов и работ. Специалисты проведут испытания асфальтобетонных смесей и других материалов на современном оборудовании. Компания «АБЗ Линт» предлагает лабораторные услуги, связанные с контролем качества дорожно-строительных материалов и работ. 
                        img(src="images/history.webp", alt="")