section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            div.dot
            span О компании

        div.about_links
            a(href="about.html").opened О компании
            a(href="construction.html") Строительство дорог
            a(href="rent.html") Аренда спецтехники

        h1 О компании
        img(src="images/webp/6.webp", alt="")