mixin person(image, name, position)
    div.swiper-slide
        img(src=image, alt="")
        div.text
            h2 !{name}
            span= position

section.team
    div.container
        h2.underline Команда

        div.swiper
            div.swiper-wrapper
                +person('images/webp/32.webp', 'Константин <br/>Ивановский', 'Генеральный директор')
                +person('images/webp/33.webp', 'Иван <br/>Иванов', 'Директор по маркетингу')
                +person('images/webp/32.webp', 'Константин <br/>Ивановский', 'Генеральный директор')
                +person('images/webp/33.webp', 'Иван <br/>Иванов', 'Директор по маркетингу')
                +person('images/webp/32.webp', 'Константин <br/>Ивановский', 'Генеральный директор')
                +person('images/webp/33.webp', 'Иван <br/>Иванов', 'Директор по маркетингу')
                +person('images/webp/32.webp', 'Константин <br/>Ивановский', 'Генеральный директор')
                +person('images/webp/33.webp', 'Иван <br/>Иванов', 'Директор по маркетингу')

        include ../_swiper-navigation.pug
        div.swiper-pagination
