section.advantages
    background: #f8f8f8
    margin-top: 80px
    margin-bottom: 80px
    padding-top: 50px
    padding-bottom: 50px
    +screen(m)
        margin-top: 60px
        margin-bottom: 60px
        padding-top: 20px
        padding-bottom: 40px

    div.advantages
        display: grid
        grid-template-columns: repeat(4, 1fr)
        margin-top: 32px
        margin-bottom: 80px
        +screen(m)
            grid-template-columns: repeat(2, 1fr)
            grid-gap: 20px
            margin-top: 20px
            margin-bottom: 60px
        div.advantage
            display: grid
            align-content: start
            justify-items: center
            text-align: center
            grid-gap: 30px
            padding: 0 15px
            +screen(m)
                grid-gap: 15px
                justify-items: start
                text-align: left
                padding: unset
            img
                width: 70px
                height: 70px
                +screen(m)
                    width: 33px
                    height: 33px
            span
                max-width: 240px
                +screen(m)
                    opacity: 0.8
                    font-size: 12px
                    line-height: 120%

            &:not(:last-child)
                position: relative
                &::after
                    content: ''
                    position: absolute
                    top: 50%
                    right: 0
                    width: 1px
                    height: 132px
                    background: rgba(29, 29, 27, 0.2)
                    transform: translateY(-50%)
                    +screen(m)
                        display: none

    div.services
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 30px 20px
        margin-top: 30px
        +screen(m)
            margin-top: 20px
            grid-template-columns: repeat(3, 1fr)
            grid-gap: 20px
        +screen(s)
            grid-template-columns: repeat(2, 1fr)
        +screen(xs)
            grid-template-columns: 1fr

        div.service
            display: grid
            grid-gap: 15px
            text-align: center
            +screen(m)
                grid-gap: 10px
                text-align: left
            img
                width: 100%
                aspect-ratio: 1 / 1
                object-fit: cover
                object-position: center center