section.main
    div.container

        div.links
            display: grid
            grid-auto-flow: column
            grid-auto-columns: 1fr
            
            margin-bottom: 80px
            +screen(m)
                margin-bottom: 30px
            +screen(s)
                grid-auto-flow: row
                grid-gap: 10px
            a
                display: block
                padding: 28px
                font-weight: 400
                font-size: 14px
                line-height: 130%
                letter-spacing: 0.01em
                text-transform: uppercase
                text-align: center
                border: 1px solid rgba(29, 29, 27, 0.2)
                +screen(m)
                    font-size: 12px
                    padding: 12px
                &.opened
                    pointer-events: none
                    background: $black
                    color: $white

                &:hover
                    background: #f8f8f8

        div.description
            display: grid
            grid-template-columns: 3fr 5fr
            grid-gap: 32px
            +screen(m)
                grid-template-columns: 1fr
                grid-gap: 20px
            div.text
                display: grid
                grid-gap: 32px
                max-width: 777px
                +screen(m)
                    grid-gap: 20px
                span
                    opacity: 0.7
                    +screen(m)
                        font-size: 12px
                        line-height: 120%
                div.buttons
                    display: grid
                    grid-auto-flow: column
                    grid-auto-columns: max-content
                    grid-gap: 10px
                    +screen(s)
                        grid-auto-flow: row
                        grid-auto-columns: 1fr

