section.main
    div.container
        img(src="images/404.svg", alt="")
        div.text
            h1 Страница не найдена
            span Если вы считаете, что страницы #[br]нет по нашей вине, напишите нам.
            a(href="index.html").button.yellow на главную